<div class="popupWrap">
    <div class="loginPages">
        <div class="loginSection">
            <ul>
                <li><img src="/assets/images/popup/loginImg.png" alt="login"></li>
                <li>
                    <h1>Login</h1>
                    <p>iCube를 이용하려면 로그인해주세요</p>
                </li>
            </ul>
            <ul class="loginFormBoxs">
                <form>
                    <div class="loginInfo">
                       <p>아이디</p>
                       <input type="text" placeholder="아이디를 입력해주세요" class="loginIdBoxs">
                    </div>
                    <div class="loginInfo">
                       <p>비밀번호</p>
                       <input type="password" placeholder="비밀번호를 입력해주세요"  class="loginPasswordBoxs">
                    </div>
                    <button>출근하기</button>
                </form>
            </ul>
        </div>
        <div class="loginBanner">
            <img src="/assets/images/popup/popupImg.png" alt="popupImg">
        </div>
    </div>
    <button class="closeBtn"><img src="/assets/images/popup/close.png" alt="closeBtn"></button>
</div>

<script src="/js/popup/closeEvet.js"></script>