@charset "utf-8";
@import url(/icube/assets/css/popup/popup.css);


* { margin:0; padding:0;}
a { text-decoration: none;}
ul li { list-style: none;}
html, body{ 
   margin:0; 
   padding:0; 
   font-family: Pretendard;
   background-color: #000;
}
div,h1,h2,h3,h4,h5,p,span{ margin:0;}
button{ 
   border: none;
   background-color: transparent;
}


.mobileHidden.hidden{

   height:0px;
   overflow: hidden;
   pointer-events:none;
}

.icubeHeader { 

   width: 100%;
   position:absolute;
   
}

/* header */

header { 

   position:absolute;
   z-index:99999;
   background-color: transparent;
   width: 100%;
   height:100px;
   overflow: hidden;
}

header .pcHeaders{

   width: 100%;
   height: 100%;
   margin:0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: transparent;
   
}

header .pcHeaders .logoBoxs{

   height:100%;
   display: flex;
   align-items: center;
   padding-left:120px;
}

header .pcHeaders .logoBoxs a{ 

   display: flex;
   align-items: center;
   justify-content: center;
   height:100%;
}
header .pcHeaders .logoBoxs a img{

   height:24px;
   object-fit: contain;

}

header .pcHeaders .logoBoxs p { 
   color:#fff;
   font-size: 16px;
   line-height:19.2px;
   font-weight: 400;
   letter-spacing: 0.2px;
   padding:0px 0px 0px 16px;
   opacity: 90%;
}


header .pcHeaders .loginCheckBoxs {

   position: relative;
   padding-right:106px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:50px;
   height:100%;

}
header .pcHeaders .loginCheckBoxs .addMenus {

   display: flex;
   align-items: center;
   gap:50px;
   height:100%
}
header .pcHeaders .loginCheckBoxs .addMenus a{

   color:#fff;
   font-weight: 500;
   font-size: 16px;
   line-height: 19.09px;
   letter-spacing: 0.2px;
}

header .pcHeaders .loginCheckBoxs .addLiginInfo{

   display: flex;
   align-items: center;
   justify-content: space-between;
   height:100%;

}
header .pcHeaders .loginCheckBoxs .addLiginInfo .beforLogin { 
   opacity: 60%;
   height:100%;
}
header .pcHeaders .loginCheckBoxs .addLiginInfo .beforLogin button{

   color:#fff;
   font-size: 16px;
   line-height: 400;
   line-height: 19.09px;
   letter-spacing: 0.2px;
   text-align: center;
   width:106px;
   height:100%;
   background-image: url(/icube/assets/images/nav/login.png);
   background-position: right 52%;
   background-repeat: no-repeat;
   background-size: 16px;
   cursor: pointer;
   position: relative;
}

header .pcHeaders .loginCheckBoxs .addLiginInfo .beforLogin button::before{
   content: "";
   width:1px;
   height:10px;
   position: absolute;
   left:0;
   top:46%;
   background-color: #fff;
   opacity: 20%;
}

header .pcHeaders .loginCheckBoxs .addLiginInfo .successLogin { 
   opacity: 60%;
   height:100%;
   display:none;
}
header .pcHeaders .loginCheckBoxs .addLiginInfo .successLogin a{

   color:#fff;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.09px;
   padding:0px 30px 0px 0px;
   border-right:1px;
   position: relative;

}

header .pcHeaders .loginCheckBoxs .addLiginInfo .successLogin a::after{

   content: "";
   width:1px;
   height:60%;
   position: absolute;
   right:0;
   top:30%;
   background-color: #fff;
   opacity: 20%;

}

header .pcHeaders .loginCheckBoxs .addLiginInfo .successLogin button{

   font-weight: 400;
   font-size: 16px;
   line-height: 19.09px;
   color:#fff;
   margin-left:26px;
   width:79px;
   height:100%;
   text-align: left;
   background-image: url(/icube/assets/images/nav/logout.png);
   background-position: right center;
   background-repeat: no-repeat;
   background-size: 16px;
   cursor: pointer;
}

header .pcHeaders .mobileNavBtn{ display:none;}
header nav{ display:none;}

/**/

/* footer */

.icubeFooter{
 
   width: 100%;
   position: absolute;
   bottom:50px;
   
}

footer {

    width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 
 footer p {
 
    font-size: 11px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    opacity: 40%;
 }

 footer a { 

   position: absolute;
   right:120px;
   width: calc(300px - 28.34px);
   height:36px;
   opacity: 80%;
   padding:0px 12.34px 0px 16px;
   border-radius: 6px;
   border: 1px solid #E4E4E41A;
   background-color: #32323266;
   color:#FFFFFF;
   font-size: 13px;
   letter-spacing: 0.2px;
   line-height: 15.51px;
   display: flex;
   align-items: center;
   background-image: url('/icube/assets/images/footerArrow.png');
   background-repeat: no-repeat;
   background-size: 28px;
   background-position: 98% center;

 }
 

 /* pagenation */

.pageNationWrappers{

   position: relative;
   width: 100%;
   margin:0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index:999;
}

.pageNationWrappers .pageNationBoxs{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageNationWrappers .pageNationBoxs button{

  width: 24px;
  height: 24px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
  cursor: pointer;
}

.pageNationWrappers .pageNationBoxs button.pagePrev{
  background-image: url(/icube/assets/images/news/pagePrev.png);
  margin-right:8px;
}

.pageNationWrappers .pageNationBoxs button.pageNext{
  background-image: url(/icube/assets/images/news/pageNext.png);
  margin-left:8px;
}


.pageNationWrappers .pageNationBoxs span{

  font-size: 12px;
  font-weight: 300;
  line-height: 14.32px;
  letter-spacing: 0.2px;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

.pageNationWrappers .pageNationBoxs span:hover, .pageNationWrappers .pageNationBoxs span.active{
  
  background-color: rgb(47, 47, 47);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  color:#5B9DFF;

}



@media all and (max-width:1080px){

header { 
   position: fixed; 
   background-color: #141414;
   height:64px;
}

header.active{
   height:100%;
   background-color: rgb(24, 33, 45);
   -webkit-backdrop-filter: blur(60px);
   backdrop-filter: blur(60px);
}


header .pcHeaders{ 
   width:calc(100% - 30px);
   height:64px;
   padding:0px 15px;
   justify-content: space-between;
   background-color: transparent;
}

header .pcHeaders .logoBoxs{ padding-left:0px; }
header .pcHeaders .logoBoxs a img { height:17px;}
header .pcHeaders .pcHeaderTitles {display:none;}
header .pcHeaders .loginCheckBoxs { display:none;}
header .pcHeaders .mobileNavBtn{ 
   display:flex; 
   align-items: center; 
   justify-content: center;
   width:36px;
   height:36px;
   background-image: url(/icube/assets/images/moNav/moNavBtn.png);
   background-size: 36px;
   background-position: center center;
   background-repeat: no-repeat;

}

header .pcHeaders .mobileNavBtn.active{ background-image: url(/icube/assets/images/moNav/moNavClose.png);}

/* 모바일메뉴 */

header nav{ 

   display:block;
   width:calc(100% - 40px);
   height:0px;
   overflow: hidden;
   padding:0px 20px;
   background-color: rgba(24, 33, 45, 0.4);
   -webkit-backdrop-filter: blur(60px);
   backdrop-filter: blur(60px);
   opacity: 0;

}

header nav.active{

   height:100%;
   opacity: 1;
   transition: opacity 500ms;
}

header nav section{

   width: 100%;
   height: calc(100% - 80px);
   padding:30px 0px;
   margin:0 auto;
   position: relative;

}

header nav section .moNavLoginBoxs{ width: 100%;}
header nav section .moNavLoginBoxs ul{

   display: flex;
   gap:16px;
   padding-bottom:30px;

}

header nav section .moNavLoginBoxs ul li img { height:50px;}
header nav section .moNavLoginBoxs ul li h3{ 
   color:#fff;
   font-weight: 500;
   font-size: 18px;
   line-height: 21.6px;
   letter-spacing: 0.2px;
   padding-bottom: 6px;
}
header nav section .moNavLoginBoxs ul li p{
   font-weight: 400;
   font-size: 14px;
   line-height: 16.8px;
   color:#fff;
}

header nav section .moNavLoginBoxs .moNavLoginBtn{

   width: 100%;
   height:46px;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0px 0px 20px 0px #0000000F;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color:#272727;
   cursor: pointer;
   background-image: url(/icube/assets/images/arrowNext.png);
   background-position: calc(100% / 1.63) center;
   background-repeat: no-repeat;
   background-size: 12px;

}

header nav section .moNavLoginBoxs .moLoginBeforeBoxs {

   width: 100%;
   display:block;

}

header nav section .moNavLoginBoxs .moLoginSuccessBoxs{ 
   position: absolute;
   left:0;
   top:30px;
   width: 100%;
   display:none;
}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs ul { 
   
   padding-bottom:28px;
   gap:14px;
   align-items: center;

}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs img{ height:52px;}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs h5{

   color:#fff;
   font-size: 13px;
   line-height: 15.6px;
   opacity: 80%;
   font-weight: 300;
   padding-bottom: 7px;
}

header nav section .moNavLoginBoxs .moLoginSuccessBoxs p{

   font-weight: 500;
   font-size: 18px;
   line-height: 21.6px;
   letter-spacing: 0.2px;
   color:#fff;
}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs{ 

   display: flex;
   gap:11px;
   justify-content: space-between;
}

header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs a,
header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs button{

   height:46px;
   border-radius: 8px;
   box-shadow: 0px 0px 20px 0px #0000000F;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:10px;
   cursor: pointer;

}

header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs a{

   background-color: #fff;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color:#272727;
   padding:0px 20px;
   width:calc(50% - 40px);
   
}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs button{
   
   width:50%;
   background-color: rgba(255, 255, 255, 0.1);
   color:#fff;
   padding:0px 42px;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;

}

header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs a img { height:11px;}
header nav section .moNavLoginBoxs .moLoginSuccessBoxs .myPageBoxs button img{ height:16px;}
header nav section .moNavMenuBoxs{

   width:100%;
   padding-top:40px;
   margin:0 auto;
   position: absolute;
   top:159.5px;

}

header nav section .moNavMenuBoxs ul li{ border-top:1px solid #FFFFFF1F;}
header nav section .moNavMenuBoxs ul li:last-child{ border-bottom:1px solid #FFFFFF1F;}
header nav section .moNavMenuBoxs ul li a{

   color:#fff;
   font-size: 18px;
   font-weight: 400;
   line-height: 21.6px;
   letter-spacing: 0.2px;
   display: block;
   width: calc(100% - 20px);
   height:calc(100% - 56px);
   padding:28px 10px;
   background-repeat: no-repeat;
   background-size: 21px;
   background-position: right center;
}

header nav section .moNavMenuBoxs ul li a:hover{

      background-image: url(/icube/assets/images/moNav/navArrowNext.png);
      transition: 800ms;
}

header nav .moNavComInfo{ 
   
   font-size: 11px; 
   line-height: 20px;
   align-items: center;
   font-weight: 300;
   color:#FFFFFF66;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom:100px;
   width: 100%;
   

}

.pageNationWrappers .pageNationBoxs button { 
   
   width: 36px; 
   height: 36px; 
   background-size: 36px;

}

.pageNationWrappers .pageNationBoxs span{

   width: 36px;
   height: 36px;
   font-size: 13px;
   line-height: 36px;
}

footer { 
   flex-direction: column;
   width:calc(100% - 40px);
   padding:0px 20px;
}

footer a { 
   position: unset;
   height:46px;
   width:calc(100% - 28.34px);
}
footer p { padding-top:20px;}

}



@media all and (max-width:768px){

.icubeFooter { bottom: 40px;}
.pageNationWrappers .pageNationBoxs button.pagePrev{ margin-right: 6px;}
.pageNationWrappers .pageNationBoxs button.pageNext{ margin-left: 6px;}

}


@media all and (max-width:350px){

.pageNationWrappers .pageNationBoxs button { 
   
   width: 28px; 
   height: 28px; 
   background-size: 28px;

}
.pageNationWrappers .pageNationBoxs span{

   width: 28px;
   height: 28px;
   line-height: 28px;
}
header nav section .moNavLoginBoxs button { background-position: calc(100% / 1.6) center; }
}