<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
   <link rel="stylesheet" href="/icube/assets/css/common.css">
   <link rel="stylesheet" href="/icube/assets/css/construction/construction.css">
</head>
<body>
   <div id="constructWrappers">
      <div class="icubeHeader"></div>
      <div class="icubeFooter"></div>
      <div class="constructWrap">
         <section class="constructBanners">
            <img src="/icube/assets/images/construction/constructionBanner.png" alt="banners" class="pcBanners">
            <img src="/icube/assets/images/construction/moConstructBanners.png" alt="banners" class="moBanners">
         </section>
         <section class="constructBoxs">
            <div class="constructTabWrappers">
               <h3>건설정보</h3>
              <div class="constructTabBoxs">
                <button>입찰</button>
                <button>기술</button>
                <button>공사비</button>
                <button>자재</button>
                <button>PAD 다운로드</button>
              </div>
            </div>
            <div class="constructDataBoxs">
               <div class="constructDataConts">
                   <div class="constructDataSpace"></div>
                   <div class="constructDataSpace"></div>
                   <div class="constructDataSpace"></div>
                   <div class="constructDataSpace"></div>
                   <div class="constructDataSpace"></div>
               </div>
               <div class="pageNationWrappers">
                  <div class="pageNationBoxs">
                      <button class="pagePrev"></button>
                      <div class="pageNatioNumbers">
                          <span>1</span>
                          <span>2</span>
                          <span>3</span>
                          <span>4</span>
                          <span>5</span>
                      </div>
                      <button class="pageNext"></button>
                  </div>
              </div> 
            </div>
         </section>
      </div>
   </div>
   <div id="popupWrappers"></div>
   <script type="module" src="/icube/js/index.js"></script>
   <script src="/icube/js/pageNation.js"></script>
   <script src="/icube/js/construction/construction.js"></script>
</body>
</html>